@use "sass:map";
//
// Navbar
// --------------------------------------------------
// Brand

//  Navbar light

// .navbar-light {
//     &.navbar-stuck {
//         background-color: $light;
//     }
//     .navbar-toggler-icon {
//         &,
//         &::before,
//         &::after {
//             background-color: $navbar-light-toggler-bar-color;
//         }
//     }
//     .nav-item {
//         &:hover > .nav-link:not(.disabled) {
//             color: $navbar-light-hover-color;
//         }
//         &.active > .nav-link:not(.disabled) {
//             color: $navbar-light-active-color;
//         }
//     }
//     .dropdown:hover > .nav-link {
//         color: $navbar-light-hover-color;
//     }
// }

// // Navbar dark

// .navbar-dark {
//     &.navbar-stuck {
//         background-color: $dark;
//     }
//     .navbar-toggler-icon {
//         &,
//         &::before,
//         &::after {
//             background-color: $navbar-dark-toggler-bar-color;
//         }
//     }
//     .nav-item {
//         &:hover > .nav-link:not(.disabled) {
//             color: $navbar-dark-hover-color;
//         }
//         &.active > .nav-link:not(.disabled) {
//             color: $navbar-dark-active-color;
//         }
//     }
//     .dropdown:hover > .nav-link {
//         color: $navbar-dark-hover-color;
//     }
// }

.dropdown-caret {
    margin-left: 2px;
    margin-bottom: 3px;
    margin-right: -3px;
    transition: 0.2s transform ease-in-out;
    svg {
        height: 1.4rem;
        width: 1.4rem;
    }
}

[data-popup]:not(.popup-active){
    &:not([data-popup="mobile-menu"]) {
        display: none !important;
    }
}
[data-popup="mobile-menu"]:not(.popup-active) {
    @media (max-width: map.get($grid-breakpoints, "md")) {
        display: none !important;
    }
}

.popup-active:not([data-popup="mobile-menu"]) .dropdown-caret {
    transform: rotate(-180deg);
}

.main-navbar {
    background-color: $secondary-bg;
    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0px;
    display: flex;
    height: $nav-bar-height-mobile;
    @media (min-width: map.get($grid-breakpoints, "md")) {
        height: $nav-bar-height-large;
    }
    width: 100%;
    padding: 0 20px;
    .navbar-brand {
        margin-right: 40px;
        display: flex;
        align-items: center;
        padding: $navbar-brand-padding-y * 0.5 0;
        font-weight: $navbar-brand-font-weight;
        > img {
            margin-right: 0.4375rem;
        }
    }
    .navbar-link {
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > span {
            height: 70%;
            width: 2px;
            background-color: $body-bg;
            margin: 0px 8px;
        }
        &.divider-lg-screen {
            display: none;
        }
    }
    // mobile specific menu bar (just search and hamburger icon)
    .mobile-menu-bar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        @media (min-width: map.get($grid-breakpoints, "md")) {
            display: none;
        }
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 10px;
            svg {
                width: 1.6rem;
                path,
                polygon {
                    fill: white;
                }
            }
            .divider span {
                margin: 0;
            }
        }
        .search-button,
        .mobile-menu-button {
            cursor: pointer;
            &:not(.popup-active) .mobile-cross {
                display: none;
            }
            &.popup-active {
                .mobile-hamburger {
                    display: none;
                }
            }
        }
    }
    .navbar-dropdown {
        background-color: $secondary-bg;
        > ul {
            margin: 0;
            list-style: none;
            color: white;
            padding: 0;
            width: 100%;
            li {
                text-decoration: none;
                height: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: white;
                    margin-left: 50px;
                    height: 100%;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    i {
                        position: relative;
                        top: 1px;
                    }
                }
                &.dropdown-divider {
                    width: 90%;
                    margin: 0 auto;
                    background-color: $body-bg;
                    height: 1px;
                }
            }
        }
    }
    > .nav-content {
        display: flex;
        width: 100%;
        position: fixed;
        flex-direction: column-reverse;
        top: 4rem;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: start;
        background-color: $body-bg;
        .nav-items {
            flex-direction: column;
            list-style-type: none;
            padding-left: 0;
        }
        .navbar-right-cluster {
            display: flex;
            border-bottom: 7px solid $secondary-bg;
            .login-signup {
                width: 100%;
                display: flex;
                justify-content: space-between;
                > a {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }
            .search-button {
                width: 0;
            }
        }
        .user-profile-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            > div {
                display: flex;
                .drop-down-user {
                    display: flex;
                    flex-grow: 1;
                    padding-left: 2px;
                    padding-right: 2px;
                    right: 20px;
                    cursor: pointer;
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
        .user-profile-item {
            padding: 10px 5px 10px 20px;
        }

        .nav-user-dropdown {
            background-color: $secondary-bg;
        }
        .nav-item {
            height: 4rem;
            border-bottom: 1px solid $secondary-bg;
            > a {
                height: 100%;
                padding-left: 2rem;
            }
        }

        // search button and pop up search box
        .search-box {
            z-index: 101;
            > div {
                width: 100%;
            }
        }
        .search-button {
            cursor: pointer;
            svg {
                height: 1.5rem;
                width: 3rem;
                path {
                    fill: white;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            .search-box {
                width: 100%;
                position: fixed;
                top: $nav-bar-height-mobile;
                @media (min-width: map.get($grid-breakpoints, "md")) {
                    top: $nav-bar-height-large;
                }
                left: 0px;
                right: 0px;
                bottom: 0px;
                background-color: rgba($body-bg, 0);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.2s linear, 0.2s opacity linear;
                -webkit-transition: visibility 0.2s linear, 0.2s opacity linear;
                -moz-transition: visibility 0.2s linear, 0.2s opacity linear;
                -o-transition: visibility 0.2s linear, 0.2s opacity linear;
                &.search-box-active {
                    visibility: visible;
                    background-color: rgba($body-bg, 0.8);
                    opacity: 1;
                }
                cursor: default;
                > div {
                    height: $nav-bar-height-mobile;
                    @media (min-width: map.get($grid-breakpoints, "md")) {
                        height: $nav-bar-height-large;
                        width: 60%;
                        max-width: 600px;
                        margin: 0 auto;
                    }
                    background-color: $secondary-bg;

                    border-top: 1px solid $body-bg;
                    display: flex;
                    > * {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .search-box-search-icon {
                        padding-left: 6px;
                    }
                    form {
                        flex-grow: 1;
                        .nav-search-input {
                            display: flex;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            caret-color: white;
                            color: white;
                            &::placeholder {
                                color: white;
                                opacity: 1;
                            }
                        }
                    }

                    .close-cross {
                        cursor: pointer;
                        padding: 0 15px;
                        path {
                            fill: $primary;
                        }
                    }
                }
            }
        }

        // Below are styles for large screens.
        @media (min-width: map.get($grid-breakpoints, "md")) {
            .divider-lg-screen {
                display: flex;
            }
            background-color: $secondary-bg;
            position: static;
            justify-content: space-between;
            flex-direction: row;
            .nav-item {
                .navbar-link:not(.user-profile-item):hover::after,
                &.popup-active .navbar-link::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background: linear-gradient(
                        0deg,
                        $info -200%,
                        $primary 150%
                    );
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }
                .navbar-link {
                    padding: 0.535rem 1rem;
                    box-sizing: border-box;
                    height: 100%;
                    position: relative;
                }
            }

            .nav-items {
                margin: 0;
                display: flex;
                flex-direction: row;
                .nav-item {
                    height: auto;
                    border: none;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }
            }
            .navbar-dropdown {
                position: absolute;
                box-shadow: -6px 10px 16px -17px #800080;
                width: 237px;
                top: $nav-bar-height-large;
                left: 0px;
                ul li:not(.dropdown-divider) {
                    a {
                        margin-left: 0px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    &:hover {
                        border-left: 4px solid $primary;
                        a {
                            padding-left: 16px;
                        }
                    }
                    
                }
            }
            .navbar-right-cluster {
                border-bottom: none;
                .search-button {
                    height: auto;
                    width: auto;
                    display: flex;
                }
                display: flex;
                .sign-up-button {
                    align-self: center;
                }
                .user-profile-container > div:first-child {
                    height: 100%;
                }
                .user-profile-item {
                    border-bottom: none;
                    padding: 0;
                    margin: 0 3px 0 8px;
                }
                .search-box-active > div {
                    box-shadow: 0 10px 16px -17px $primary;
                }
                .login-signup > a {
                    margin-right: 10px;
                    margin-left: 0px;
                }
                .nav-user-dropdown {
                    border-top: 4px solid #800080;
                    left: auto;
                    right: 0px;
                }
            }
        }
    }
}
