<div class="alert 
<% if (type === 'success') { %>
    alert-success 
<% } else if (type === 'error') { %>
    alert-danger
<% } else { %>
    alert-warning
<% } %> text-center" role="alert">
    <%- message %>
</div>