<% if (success === true) { %>
    <div class="alert alert-success text-center mb-1" role="alert">
<% } else { %>
    <div class="alert alert-danger text-center mb-1" role="alert">
<% } %>
    <%= message %>
</div>