<article class="card card-hover border-0 card-deep-shadow overflow-hidden mt-4">
    <div class="row g-0">
        <div class="card-body">

            <p class="fw-bold mb-3"><%=notification.action%></p>
            
            <hr class="my-2">
            
            <p class="fs-sm fw-bold m-0"><%=notification.header%></p>
            <p class="fs-sm m-0"><%=notification.content%></p>

    <div class="position-absolute top-0 end-0" title="Delete This Notification" style="margin: -5px -5px 0 0;">
    <form action="/delete-notification/<%=notification.id%>" method="POST">
        <button type="submit" class="btn btn-outline-danger p-2" style="border-radius: 50%;">
            <i class="bx bx-trash-alt fs-xl"></i>
        </button>
    </form>
    </div>

</div>
</div>
</article>