
      <!-- Not Respnsive -->
      <section class="card card-body mt-3 pb-0" style="border: none;">
        <div class="px-5 pt-4">
        <% for(let i = reviews.length - 1; i >= 0; i--) { %>
            <div class="pb-3 pt-5">

                    <div class="d-flex align-items-center">
                        <div class="mb-2">
                            <h6 class="fw-semibold text-primary mb-0"><%=reviews[i].sender%></h6>
                        </div>
                        <div class="ms-auto me-5">
                            <%- include('./Rating', {rating: reviews[i].note}) %>
                        </div>
                    </div>
                      
                <p class="my-0"><%=reviews[i].content%></p>
              </div>
              <hr class="">
        <% } %>

        <div class="mt-5">

        </div>
        <%- include('./Pagination', {nextPage, currentPage: parseInt(query.reviewPage), queryName: 'reviewPage'}) %>
        
      </div>
        </section>