<%- include('partials/Head') %>
<body>

    <div class="container">

        <p>Admin Panel</p>

        <p>Welcome <%=authuser.username%></p>

        <a href="/admin/resolve-dipsute">Resolve Dispute</p>
        <a href="/admin/take-dipsute">Take new Dispute</p>

        <a href="/reports">Check Report</p>

    </div>

</body>
</html>