.label-input input {
  display: none;
}

.label-input label {
  cursor: pointer;
  padding: 5px 10px;
  margin: 7px 5px;
}

.quantity-settings,
.settings-container,
.contact-div {
    display: none;
}

#quantity-settings-checkbox:checked ~ .quantity-settings,
#settings-checkbox:checked ~ .settings-container,
#contact-checkbox:checked ~ .contact-div { 
    display: contents;
}

.dispute-settling-container { 
  display: none;
}

#settling-disputes:checked ~ .dispute-settling-container {
  display: contents;
}


.admin-disputes-container,
.disputes-container {
  display: none;
}

#admin-dipsutes-container-check:checked ~ .admin-disputes-container,
#dipsutes-container-check:checked ~ .disputes-container {
  display: contents;
}
 
#admin-dipsutes-container-check:checked ~ label[for='admin-dipsutes-container-check'],
#dipsutes-container-check:checked ~ label[for='dipsutes-container-check'] {
  border-bottom: 5px solid purple;
}