@use 'sass:map';
// media-queries break points
$min-width-bp: map.get($grid-breakpoints, 'md');
$max-width-bp: calc(map.get($grid-breakpoints, 'md') - 1px);
//
// user.scss
// Use this to write your custom SCSS
//

.small-rc {
   width: 2.5rem;
   height: 2.5rem;
}

.smedium-rc {
   width: 3rem;
   height: 3rem;
}

.medium-rc {
   width: 3.5rem;
   height: 3.5rem;
}

.big-rc {
   width: 8rem;
   height: 8rem;
}

.rounded-circle {
   border-radius: 50% !important;
   object-fit: cover;
   overflow: hidden;
}

.text-orange {
   color: rgb(202, 125, 37) !important;
}

.min-heigth-45 {
   min-height: 40rem;
   max-height: 40rem;
}

.messages-view {
   overflow: hidden;
   height: calc(100% - $nav-bar-height-mobile);
   @media (min-width: $min-width-bp) {
      height: calc(100% - $nav-bar-height-large);
   }
   section {
      height: 100%;
      > div {
         height: 100%;
         > div {
            height: 100%;
         }
      }
   }

   .no-convo-yet {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   @media (max-width: $max-width-bp) {
      .container {
         padding: 0px;
      }
      #change-messages:checked ~ .messages-container .chat {
         display: none;
      }
      #change-messages:not(:checked) ~ .messages-container .contacts {
         display: none;
      }
   }

   .messages-container {
      box-shadow: 0px 3px 5px rgb($primary, 0.25);
      display: flex;
      min-height: 0px;
      height: 100%;
      overflow: hidden;
      @media (min-width: $min-width-bp) {
         $margin-y-message-container: 1.5rem;
         margin: 1.5rem 0px;
         height: calc(100% - 2 * $margin-y-message-container);
      }
      .contacts {
         display: flex;
         min-height: 0px;
         flex-direction: column;
         width: 100%;
         @media (min-width: $min-width-bp) {
            border-right: 1px solid $body-bg;
            width: 40%;
            max-width: 400px;
         }
         background-color: $secondary-bg;
         > .messages-heading {
            @media (min-width: $min-width-bp) {
               display: none;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: linear-gradient($body-bg, $secondary-bg);
            label {
               @media (min-width: $min-width-bp) {
                  display: none;
               }
               width: 1.6rem;
               margin-right: 1.5rem;
               path {
                  fill: $white;
               }
            }
         }

         .search-messages {
            display: flex;
            @media (max-width: $max-width-bp) {
               display: none;
            }
            min-height: 0px;
            height: 4rem;
            min-height: 4rem;
            border-bottom: 1px solid $body-bg;
            > div {
               display: flex;
               flex-direction: column;
               justify-content: center;
               i {
                  margin-right: 1rem;
               }
            }
            input {
               caret-color: $white;
               border: none;
               background-color: transparent;
               outline: none;
               color: $white;
            }
         }
         .contact-list {
            min-height: 0px;
            flex-grow: 1;
            flex-shrink: 1;
            overflow-y: auto;
            .selected-convo {
               background-color: $body-bg;
            }
            .contact-divider {
               width: calc(90%);
               margin: 0 0 0 auto;
               height: 1px;
               background-color: $body-bg;
            }
            > a,
            > label {
               width: 100%;
               > div,
               > a > div {
                  min-width: 0px;
               }
               .convo-snippet {
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
               }
               > img,
               a > img {
                  min-width: 45px;
               }
            }
         }
      }
      .chat {
         flex-grow: 1;
         .chat-body {
            display: flex;
            flex-direction: column;
            height: 100%;
            .messages-header {
               position: relative;
               z-index: 1;
               box-shadow: 0px 8px 20px rgb($body-bg, 0.25);
               @media (min-width: $min-width-bp) {
                  min-height: 6rem;
               }
               @media (max-width: $max-width-bp) {
                  padding: 10px 0px;
               }

               background-color: $secondary-bg;
               display: flex;
               justify-content: space-between;
               align-items: center;
               .chat-user {
                  display: flex;
                  align-items: center;
                  .name-and-type {
                     margin-left: 1.25rem;
                     display: flex;
                     align-items: start;
                     flex-direction: column;
                  }
               }
               a {
                  font-size: $font-size-xl;
                  text-decoration: none;
               }
               .change-convo {
                  @media (min-width: $min-width-bp) {
                     display: none;
                  }

                  label {
                     display: flex;
                     align-items: center;
                     cursor: pointer;
                     position: relative;
                     bottom: 10px;
                     right: 2px;
                     margin-right: -21px;
                  }
                  svg:first-child {
                     transform: scale(1.8) rotate(90deg);
                  }
                  svg:last-child {
                     transform: scale(0.6);
                     position: relative;
                     bottom: 4px;
                     right: 11px;
                  }
                  path {
                     fill: $white;
                  }
               }

               .delete-button-container {
                  label {
                     @media (max-width: $max-width-bp) {
                        position: relative;
                        padding: 7px;
                        border-radius: 50rem;
                     }
                  }
               }
            }
            .messages-main {
               flex-grow: 1;
               overflow-y: auto;
               @media (min-width: $min-width-bp) {
                  border-left: 15px solid $secondary-bg;
                  border-right: 15px solid $secondary-bg;
               }
               .timestamp {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: $primary;
                  margin-top: 1rem;
                  .timestamp-time {
                     margin: 0 1rem;
                     font-size: $font-size-xs;
                  }
                  .timestamp-left,
                  .timestamp-right {
                     flex-grow: 1;
                     height: 1px;
                     background-color: $primary;
                  }
               }
               .message-entry {
                  display: flex;
                  &:first-child {
                     margin-top: 0.5rem;
                  }
                  margin-bottom: 0.5rem;
                  > div {
                     position: relative;
                     display: inline-block;
                     background-color: $secondary-bg;
                     padding: 0.8rem 1rem;
                     border-radius: 0.5rem;
                     max-width: 600px;
                  }
                  &:not(&--own) {
                     margin-right: 1.5rem;
                     > div {
                        margin-right: auto;
                        border-bottom-left-radius: 1px;
                        > div {
                           display: flex;
                           > img {
                              min-width: 46px;
                              margin-right: 0.75rem;
                           }
                        }
                     }
                  }
                  &--own {
                     margin-left: 1.5rem;
                     > div {
                        background-color: $primary;
                        margin-left: auto;
                        border-bottom-right-radius: 1px;
                        .message-text span {
                           margin-right: 10px;
                        }
                     }
                  }
               }
               .message-text {
                  span {
                     display: inline-block;
                     white-space: pre-wrap;
                     overflow-wrap: break-word;
                     overflow-wrap: anywhere;
                  }
                  .delete-message-button {
                     position: absolute;
                     top: -5px;
                     right: -7px;
                     border-radius: 50rem;
                     padding: 2px;
                     background-color: $danger;
                     color: $white;
                  }
               }
            }
         }
         .card-footer {
            @media (min-width: $min-width-bp) {
               background-color: $secondary-bg;
            }

            box-shadow: 0 -10px 20px 0 rgb($body-bg, 0.25);
            position: relative;
            button.desktop {
               height: auto;
               width: 5rem;
            }
            textarea {
               @media (min-width: $min-width-bp) {
                  background-color: $body-bg;
               }
            }
         }
      }
   }
}

input[id^='delete-message-input-']:not(:checked) + *,
input#delete-convo-input:not(:checked) + *:not(.no-convo-yet),
input[id^='edit-message-input-']:not(:checked) + * {
   display: none;
}
input[id^='report-vendor-']:not(:checked) + * {
   display: none;
}
input[id^='report-product-']:not(:checked) + * {
   display: none;
}
input[id^='report-resolve-']:not(:checked) + * {
   display: none;
}

// Send Message Checkbox Hack
.advanced-settings > input[type='radio'] {
   margin-right: 0 0.5rem 0.25rem 0;
}
input[id='advanced-settings']:not(:checked) ~ .advanced-settings {
   display: none;
}
input[id='otherpgp']:not(:checked) ~ .otherPgpTextarea {
   display: none;
}

.popup-dialog {
   background-color: rgba($body-bg, 0.8);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   > div {
      margin: 0 1.5rem;
      max-width: 370px;
      background-color: $secondary-bg;
      box-shadow: 0 0px 27px 0 rgb($primary, 0.15);
      .buttons {
         display: flex;
         justify-content: space-between;
         max-width: 237px;
         width: 100%;
         margin: 0 auto;
         > * {
            label,
            button {
               width: 100%;
            }
         }
      }
   }
}

$width-docs-side-nav: 69%;
.documentation-view {
   .docs-con {
      @media (min-width: $min-width-bp) {
         padding-left: 21rem;
      }
   }
   #componentsNav {
      position: relative;
      width: $width-docs-side-nav;
      @media (min-width: $min-width-bp) {
         width: 21rem;
      }
      background-color: $secondary-bg;
      margin-top: $nav-bar-height-mobile;
      height: calc(100% - $nav-bar-height-mobile);
      border-top: 2px solid $body-bg;
      z-index: 1045;
      box-shadow: 0 0.275rem 1.25rem rgb(180 183 201 / 5%), 0 0.25rem 0.5625rem rgb(180 183 201 / 3%);
      transition: transform 0.3s ease-in-out;
      @media (min-width: $min-width-bp) {
         margin-top: $nav-bar-height-large;
         height: calc(100% - $nav-bar-height-large);
      }
   }
   .docs-aside-open-close {
      @media (min-width: $min-width-bp) {
         display: none;
      }
      position: fixed;
      width: 40px;
      z-index: 2000;
      top: calc($nav-bar-height-mobile + 1rem);
      left: calc($width-docs-side-nav - 40px);
      background-color: $primary;
      padding: 1px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out, left 0.3s ease-in-out;
      @media (min-width: $min-width-bp) {
         margin-top: calc($nav-bar-height-large + 1rem);
      }
      svg {
         height: 35px;
         width: 35px;
      }
   }

   .aside-scroller {
      height: 100%;
      overflow: hidden;
      overscroll-behavior: none;
      @media (max-width: $max-width-bp) {
         overflow-y: auto;
      }
      &:hover {
         overflow-y: auto;
      }
   }
   .clickout-mobile-menu {
      display: none;
   }
   @media (min-width: $min-width-bp) {
      footer {
         width: calc(100% - 21rem);
         margin-left: auto;
      }
   }
   @media (max-width: $max-width-bp) {
      #mobile-menu-toggle:checked ~ main .clickout-mobile-menu {
         background-color: rgba(0, 0, 0, 0.25);
         display: initial;
         width: 100%;
         position: fixed;
         top: $nav-bar-height-mobile;
         left: 0;
         height: 100%;
      }
      #mobile-menu-toggle:not(:checked) {
         + .docs-aside-open-close {
            left: 0px;
            border-radius: 0 4px 4px 0;
            svg {
               transform: scaleX(-1);
               position: relative;
               left: 3px;
            }
         }
         ~ main #componentsNav {
            transform: translateX(-100%);
         }
      }
   }

   .docs-section {
      padding-top: 7rem;
      &:last-child {
         padding-bottom: 7rem;
      }
   }

   .docs-link-item {
      text-decoration: none;
      color: $white;
      font-weight: bold;
      &:hover {
         background-color: $primary;
      }
   }
}
