<div class="popup-dialog">
    <div class="rounded py-4 px-4">
       <div class="text pb-4">
        <b>Are you sure that you want to delete This Order ?</b>
        <p class="fs-sm opacity-70">This Action is Irreversible</p>
    </div>
    <div class="d-flex">
       <form action="<%=action%>" method="POST">
         <button type="submit" class="confirm-button btn btn-primary" name="status" value="delete">Delete Order</button>
       </form>
          <label for="<%=checkboxInputId%>" class="btn btn-danger cancel-button ms-auto">Cancel</label>
    </div>
    </div>
    <label for="<%=checkboxInputId%>" class="popup-close"></label>
 </div>
 