<!--designed to work with css input popup technique - no js -->
<div class="popup-dialog pgp-keys-popup">
   <div class="rounded p-3">
      <div class="text py-2">User Pgp Keys</div>
      <textarea class="form-control my-3 p-2" style="min-height: 20rem;">
         <%=text%>
      </textarea>

      <div class="buttons">
         <label for="<%=checkboxInputId%>" class="btn btn-danger cancel-button">close</label>
      </div>
   </div>
   <label for="<%=checkboxInputId%>" class="popup-close"></label>
</div>
