<div class="contact-div text-start">
   <form action="/send-message/<%=Reciver%>" method="POST">
      <p class="mt-3 mb-1">Conversation Settings</p>

      <input class="form-check-input" type="radio" name="type" id="default" value="default" required />
      <label class="form-check-label" for="default">Default <span class="opacity-70">(Not Recommended)</span></label
      ><br />

      <input class="form-check-input" type="radio" name="type" id="semi-hidden" value="semi-hidden" required checked />
      <label class="form-check-label" for="semi-hidden">Semi-Hidden</label><br />

      <input class="form-check-input" type="radio" name="type" id="Hidden" value="hidden" required />
      <label class="form-check-label" for="Hidden">Hidden</label><br />

      <hr class="my-2" />

      <input class="form-check-input" type="checkbox" name="timestamps" id="timestamps" />
      <label class="form-check-label" for="timestamps">Add timestamps</label><br />

      <hr class="mt-2" />

      <input type="checkbox" id="advanced-settings" hidden />
      <label for="advanced-settings" class="my-3"><b>See Advanced Settings</b></label> <br />

      <div class="advanced-settings mb-3">
         <input class="form-check-input" type="radio" name="pgpSettings" id="ownpgp" value="ownPgp" />
         <label class="form-check-label" for="ownpgp">Include my own Pgp Key</label><br />

         <input class="form-check-input" type="radio" name="pgpSettings" id="nopgp" value="noPgp" />
         <label class="form-check-label" for="nopgp">Do not Include a Pgp Key</label><br />

         <input class="form-check-input" type="radio" name="pgpSettings" id="otherpgp" value="otherPgp" />
         <label class="form-check-label" for="otherpgp">Include Another Pgp<span class="opacity-70 fs-sm ms-2">(Advanced User Only)</span></label>

         <div class="otherPgpTextarea">
            <textarea class="form-control mt-2" name="otherPgpKeys" placeholder="Pgp Key you want to use" minlength="2" maxlength="1000"></textarea>
            <hr class="mt-2" />
         </div>
      </div>

      <div class="edit-content" contenteditable="true">
         <textarea class="form-control" name="message" placeholder="Type your message..." minlength="2" maxlength="1000" required></textarea>
      </div> 

      <button type="submit" class="btn btn-primary mt-4">Send Message</button>
   </form>
</div>
