<% switch(STATUS) { 
    case 'awaitingInformation' : %> 
    <span class="ms-2 badge bg-primary">Awaiting Information</span>
    <%break 
    case 'awaitingPayment': %> 
    <span class="ms-2 badge bg-info">Awainting Payment</span>
    <%break 
    case 'awaitingShipping': %> 
    <span class="ms-2 badge bg-warning">Awaiting Shipment</span>
    <%break 
    case 'shipped': %> 
    <span class="ms-2 badge bg-success">Shipped</span>
    <%break 
    case 'recieved': %> 
    <span class="ms-2 badge bg-success">Recieved</span>
    <%break 
    case 'finalized': %>
    <span class="ms-2 badge bg-primary">Finalized</span> 
    <%break 
    case 'rejected': %> 
    <span class="ms-2 badge bg-danger">Rejected</span>
    <%break 
    case 'expired': %> 
    <span class="ms-2 badge bg-black text-white">Expired</span>
    <%break 
    case 'disputeInProgress': %> 
    <span class="ms-2 badge bg-danger">Dispute in Progress</span>
    <%break
    case 'disputed': %> 
    <span class="ms-2 badge bg-danger">Disputed</span>
    <%break  
} %>